<br>
<div class="container">
  <div class="well col-md-6" id="disclaimer">
    <h4 class="text-center">Disclaimer:</h4>
    <div class="text-center">
      <p>When calculating your total waste, this app does not factor in games received as gifts, multi-game bundles, or games purchased on sale.</p>
    </div>
  </div>
  <h1 class="text-center">Waste - <%= number_to_currency(@wasted_money / 100.0) %></h1>
  <h2 class="text-center">Unplayed Games - <%= @names.count %></h2>
  <br>
  <table class="table table-condensed">
      <tr>
        <th></th>
        <th><p>Game</p></th>
        <th><p>Cost</p></th>
        <th><p>Genre</p></th>
        <th><p>Metacritic</p></th>
      </tr>
    <% @games.each do |game| %>
      <tr>
        <td><%= image_tag( game[1], size: '300x100' ) %></td>
        <td><p><%= game[2] %></p></td>
        <td><p><%= number_to_currency( game[3] / 100.0 ) %></p></td>
        <td><p><%= game[4] %></p></td>
        <td><p><%= link_to game[5], game[6] %></p></td>
      </tr>
    <% end %>
  </table>
</div>